video {
  width: 700px;
  height: 500px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.touch-button {
  display: none;
  touch-action: manipulation;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .touch-button {
    display: block;
    width: 20%;
    position: absolute;
    height: 0;
    padding-bottom: 20%;
    border: 3px black solid;
  }

  .touch-button h1 {
    font-size: 100px;
    margin: 0;
    text-align: center;
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
  }

  .touch-button canvas {
    z-index: 100;
    position: absolute;
  }
}
